

.mainSection {
    display: grid;
    grid-template-columns: 30% 25% 30%;
    gap: 20px;
    justify-content: center;
    /* border-bottom: 2px solid green;  */
}

.latest {
    border-left: 1px solid gray;
    margin: -15px 10px 10px 40px;
    width: 80%
    
}

.mostPopular {
    border-right: 1px solid gray;
    width: 80%;
    margin: -15px;
    height: 100%;
}

.h2 {
    border-bottom: 2px solid gray;
    color: rgb(22, 20, 20);
}

h2 {
    text-align: center;
}

img {
    width: 60%;
}


h3 {
    text-align: center;
}

.outro {
    background-color: bisque;
}

.devices {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-left: 22%;
}

p {
    margin-left: 16%;
}

.outro img {
    width: 30%;
}

@media screen and (max-width: 800px) {
    .mainSection {
        display: flex;
        flex-direction: column;
        border: none;
        
    }

    .mostPopular, .latest {
        border: none;
        display: grid;
        margin-left: 10%;
        justify-content: center;
    }

    .mainSection img {
        width: 50%;
        margin-left: 30%;
    }
}