

@media screen and (min-width: 800px) {
    .head {
        border-bottom: none;
    }

    .headers {
        display: grid;
        grid-template-columns: auto auto;
        border-bottom: solid 2px rgb(89, 255, 0);
        background-color: #131313;
    }

    .card {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-gap: 5px;
        align-items: center;
        justify-content: center;
    }

    .h {
        margin-bottom: 0px;
        font-size: 23px;
    }

    .hamBurger-btn {
        font-size: 2rem;
        border: none;
        background: none;
        display: none;
    }

    .hamBurger-btn::before {
        content: "\2630";
    }

    ul {
        justify-content: center;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background: none;
    }

    .navigation a {
        display: block;
        padding-top: 30px;
        color: white;
        text-decoration: none;
        border-bottom: none;
    }

        
        
}

@media screen and (max-width: 800px) {
    #shower {
        display: grid;
        grid-template-columns: 40% 40%;
    }}



@media screen and (max-width: 400px) {
   #shower {
    grid-template-columns: 60%;
   }
    }


  