

ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 0.81rem 20px;
    color: aliceblue;
    text-decoration: none;
    background-color: #555;
    border-bottom: solid 1px rgb(46, 157, 68);
}

a:hover {
    color: brown;
    transform: translateY(-1px);
}

.hamBurger-btn {
    font-size: 2rem;
    border: none;
    background: none;
    display: block;
    color: whitesmoke;
    cursor: pointer;
}

.hamBurger-btn::before {
    content: "\2630";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.hamBurger-btn.show::before {
    content: "\00D7";
    font-size: 30px;
    color: whitesmoke;
}

.head {
    display: grid;
    grid-template-columns: 40px auto 44px;
    gap: 20px;
    align-items: end;
}

h1 {
    color: #100606;
    padding: 1rem;
    text-align: center;
}

h3 {
    font-family: "Poetsen One", sans-serif;
}

.cl {
    background-color: grey;
    width: 50%;
    text-align: center;
    margin-top: 20px;
}

#randomMember {
   
    margin-left: 30%;
}

.current {
    text-decoration: underline;
    color: red;
}

.headers {
    border-bottom: solid 2px rgb(89, 255, 0);
    background-color: #333;
}
.head {
    display: grid;
    grid-template-columns: 40px auto 44px;
    gap: 20px;
    align-items: end;
}

h1 {
    color: #100606;
    padding: 1rem;
    text-align: center;
}

h3 {
    font-family: "Poetsen One", sans-serif;
}

.h {
    margin-bottom: 0px;
    font-size: 23px;
    color: rgb(244, 241, 241);
}

.current {
    text-decoration: underline;
    color: red;
}

.headers {
    border-bottom: solid 2px rgb(89, 255, 0);
    background-color: #333;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

input[type='text'], input[type='email'], input[type='tel'] {
    padding: 10px;
    width: 70%;
}

.formSection {
    background-color: rgb(142, 152, 152);
    border-radius: 20px;
    border: none;
    width: 100%;
    margin-right: 3%;
}

.form {
    display: flex;
    justify-content: center;
}

label {
    text-align: center;
}

p {
    margin-left: 13%;
    margin-bottom: 0;
}

textarea {
    padding: 20px;
    width: 68%;
    margin-top: 10px;
}

.descriptionLabel {
    text-align: center;
}

select {
    padding: 10px;
    width: 73%;
    margin-top: 10px;
}

.select {
    text-align: center;
    justify-content: center;
}

.modal {
    display: grid;
    text-align: center;
}

.submitButton {
    margin: 30px 0 20px 10%;
    height: 44px;
    border: none;
    border-radius: 5px;
    color: black;
    background-color: cornflowerblue;
    font-size: 12px;
    font-weight: 900;
}

.button {
    padding: 20px;
    width: 50%;
    margin-left: 25%;
    background-color: rgb(179, 207, 207);
    border-radius: 10px;
    margin-bottom: 10px;
}

.current {
    text-decoration: underline;
    color: red;
}

.footImg {
    display: flex;
    justify-content: center;
    gap: 15%;
}

.footerImg {
    width: 40px;
}

.heroImage {
    display: flex;
    justify-content: center;
    width: 99%;
}


footer {
    color: #eee;
    background-color: #333;
    margin-top: 10px;
    padding: 15px;
    align-items: center;
}

@media screen and (min-width: 800px){
    .container {
        display: grid;
        grid-template-columns: 60% 30%;
    }

    .headers {
        display: grid;
        grid-template-columns: auto auto;
        border-bottom: solid 2px rgb(89, 255, 0);
        background-color: #555;
    }

    .card {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-gap: 5px;
        align-items: center;
        justify-content: center;
    }

    .h {
        margin-bottom: 0px;
        font-size: 23px;
    }

    .hamBurger-btn {
        font-size: 2rem;
        border: none;
        background: none;
        display: none;
    }

    .hamBurger-btn::before {
        content: "\2630";
    }

    ul {
        justify-content: center;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background: none;
    }

    .navigation a {
        display: block;
        padding-top: 30px;
        color: white;
        text-decoration: none;
        border-bottom: none;
    }

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.formSection {
    margin-left: 3%;
}
    .fade-in {
  opacity: 0; /* Start fully transparent */
  animation: fadeIn 2s ease-in forwards;
}

/* Define the animation */
@keyframes fadeIn {
  from {
    opacity: 0; /* Invisible */
  }
  to {
    opacity: 1; /* Fully visible */
  }
}
